.vinyl-card {
    margin-bottom: 40px;
}

.vinyl-card img {
    margin-bottom: 20px;
    height: 300px;
    object-fit: cover;
}

.vinyl-card text {
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

